{
  "trailingComma": "none",
  "semi": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "components/(.*)$",
    "pages/(.*)$",
    "services/(.*)$",
    "assets/(.*)$",
    "hooks/(.*)$",
    "store/(.*)$",
    "styles/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}